<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Avís de Privacitat</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="../css/politica_cookies.css">
</head>
<body>
	<main>
        <h1>Avís de Cookies</h1> <br>
        <h3>Què són les cookies?</h3>
        <p>Una cookie és un fitxer que es descarrega en el seu ordinador en accedir a determinades pàgines web. Les cookies permeten a una pàgina web, entre altres coses, emmagatzemar i recuperar informació sobre els hàbits de navegació d'un usuari o del seu equip i, depenent de la informació que continguin i de la forma en què utilitzi el seu equip, poden utilitzar-se per a reconèixer a l'usuari.</p>
        
        <h3>Quins tipus de cookies utilitza aquesta pàgina web?</h3>
        <p>Aquesta pàgina web utilitza els següents tipus de cookies:</p>

        <p><b>PHPSESSID</b></p>
        <p>La cookie PHPSESSID és nativa de PHP i permet als llocs web emmagatzemar dades d'estat serialitzats. En el lloc web s'utilitza per a establir una sessió d'usuari i per a passar les dades d'estat a través d'una cookie temporal, que es coneix comunament com una cookie de sessió. Aquestes Cookies només romandran en el seu equip fins que tanqui el navegador.</p>

        <p><b>_ga</b></p>
        <p>Cookie de Google Analytics que habilita la funció de control de visites úniques. La primera vegada que un
            usuari entre en el lloc web a través d'un navegador s'instal·larà aquesta cookie. Quan aquest usuari torni a
            entrar en la web amb el mateix navegador, la cookie considerarà que és el mateix usuari. Només en el cas que
            l'usuari canviï de navegador, es considerarà un altre usuari. Caduca als 2 anys des de l'última
            actualització.</p>
        
        <h3>Desactivar les cookies.</h3>
        <p>Pot vostè permetre, bloquejar o eliminar les cookies instal·lades en el seu equip mitjançant la configuració de les opcions del navegador instal·lat en el seu ordinador.</p>
        
        <p>En la majoria dels navegadors web s'ofereix la possibilitat de permetre, bloquejar o eliminar les cookies instal·lades en el seu equip.</p>
        
        <p>A continuació pot accedir a la configuració dels navegadors webs més freqüents per a acceptar, instal·lar o desactivar les cookies:</p>

		<p><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank" rel="noopener">Configurar cookies en Google Chrome</a></p>

		<p><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank" rel="noopener">Configurar cookies en Microsoft Internet Explorer</a></p>

		<p><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&amp;redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank" rel="noopener">Configurar cookies en Mozilla Firefox</a></p>

		<p><a href="https://support.apple.com/es-es/HT201265" target="_blank" rel="noopener">Configurar cookies en Safari (Apple)</a></p>

        <h3>Advertiment sobre eliminar cookies.</h3>

        <p>Vostè pot eliminar i bloquejar totes les cookies d'aquest lloc, però part del lloc no funcionarà o la qualitat de la pàgina web pot veure's afectada.</p>

        <p>Si té qualsevol dubte sobre la nostra política de cookies, pot contactar amb aquesta pàgina web a través dels nostres canals de Contacte.</p>

        <a id="tornar" href="login.php">Tornar a la pàgina principal</a>
	</main>
</body>
</html>